/* calendar styles */
.date-picker-calendar {
  position: fixed;
  top: 20%;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 4px 4px 10px rgb(226, 226, 226);
  border-radius: 4px;
  min-width: 280px;
  background: white;
  padding: 4px 8px 10px;
}
.date-picker-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.date-picker-calendar-header-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.date-picker-calendar-header-dropdown-text {
  border: 1px solid gray;
  padding: 4px 10px;
  cursor: pointer;
}
.date-picker-calendar-header-dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
  background: white;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

.date-picker-dropdown {
  display: flex;
  flex-direction: column;
  width: 90px;
  /* height: calc(100% + 2px); */
  border: 1px solid rgb(201, 201, 201);
}
.date-picker-dropdown .dropdown-option {
  min-height: 40px;
  padding: 0 4px;
  line-height: 40px;
  text-align: center;
  background: rgb(243, 243, 243);
  cursor: pointer;
}
.date-picker-dropdown .dropdown-option:last-child {
  border-bottom: none;
}
.date-picker-dropdown .dropdown-option.dropdown-active {
  background: rgb(201, 201, 201);
}
.date-picker-dropdown-arrow {
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.date-picker-dropdown-top-arrow {
  border-bottom: 1px solid rgb(201, 201, 201);
}
.date-picker-dropdown-bottom-arrow {
  border-top: 1px solid rgb(201, 201, 201);
}
.date-picker-dropdown-arrow.date-picker-dropdown-arrow-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
