/* calendar styles */
.date-picker-calendar {
  position: absolute;
  top: 20%;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 220px;
  width: 220px;
  min-height: 284px;
  height: 284px;
  background: white;
  padding: 4px 8px;
}
.date-picker-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0;
}

.date-picker-calendar-header-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.date-picker-calendar-header-arrow.date-picker-calendar-header-arrow-disabled {
  opacity: 0.4;
  cursor: default;
}

.date-picker-calendar-header-dropdown-text {
  border: 1px solid gray;
  padding: 4px 10px;
  cursor: pointer;
}
.date-picker-selector-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: white;
  padding: 4px 8px 10px;
}

.date-picker-selector-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  flex-shrink: 0;
}
.date-picker-selector-block-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;
  flex: 1;
}
.date-picker-selector-block-container > div {
  display: grid;
  place-items: center;
  cursor: pointer;
}
.date-picker-selector-block-container > div > div {
  padding: 10px 10px;
}
.date-picker-selector-block-container
  > div
  > div.date-picker-selector-block-selected {
  color: white;
  background: rgb(2, 118, 156);
}

/* hide the container if not active */
.date-picker-selector-block-container.date-picker-selector-block-container-hidden {
  display: none;
}

.date-picker-selector-block-container
  > div.date-picker-selector-block-disabled {
  opacity: 0.4;
  cursor: default;
}
.date-picker-selector-block-container
  > div:hover:not(.date-picker-selector-block-disabled)
  > div:not(.date-picker-selector-block-selected) {
  background: rgb(226, 226, 226);
}
