.date-picker-calendar-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  line-height: 24px;
}

.date-picker-calendar-footer > .date-picker-calendar-footer-btn {
  font-weight: medium;
  color: darkblue;
  cursor: pointer;
}

.date-picker-calendar-footer-btn.date-picker-calendar-footer-btn-disabled {
  cursor: default;
  opacity: 0.4;
}
