.date-picker-container,
.date-picker-container * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.date-picker-container {
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
  color: rgb(14, 14, 14);
}

/* input styles */
.date-picker-input {
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
  min-width: 200px;
  cursor: pointer;
  padding: 10px;
}
.date-picker-input:focus {
  outline: none;
}

/* calendar styles */
.date-picker-calendar {
  position: fixed;
  top: 20%;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 4px 4px 10px rgb(226, 226, 226);
  border-radius: 4px;
  min-width: 280px;
  height: 300px;
  background: white;
  padding: 4px 8px;
}
.date-picker-calendar-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-picker-calendar-header-dropdown-container {
  position: relative;
}
.date-picker-calendar-header-dropdown-text {
  border: 1px solid gray;
  padding: 4px 10px;
  cursor: pointer;
}
.date-picker-calendar-header-dropdown {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  height: 200px;
}

.date-picker-dropdown {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: calc(100% + 2px);
  border: 1px solid rgb(201, 201, 201);
}
.date-picker-dropdown .dropdown-option {
  min-height: 40px;
  padding: 0 4px;
  line-height: 40px;
  text-align: center;
  background: rgb(243, 243, 243);
  cursor: pointer;
}
.date-picker-dropdown .dropdown-option:last-child {
  border-bottom: none;
}
.date-picker-dropdown .dropdown-option.dropdown-active {
  background: rgb(201, 201, 201);
}
.date-picker-dropdown-arrow {
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.date-picker-dropdown-top-arrow {
  border-bottom: 1px solid rgb(201, 201, 201);
}
.date-picker-dropdown-bottom-arrow {
  border-top: 1px solid rgb(201, 201, 201);
}
