.date-picker-container,
.date-picker-container * {
  box-sizing: border-box;
  margin: 0;
}

.date-picker-container {
  position: relative;
  font-family: sans-serif;
  font-size: 12px;
  user-select: none;
  color: rgb(14, 14, 14);
  width: fit-content;
}

/* input styles */
.date-picker-input-container {
  position: relative;
  border-radius: 4px;
  border: 1px solid gray;
}
.date-picker-input {
  border-radius: 4px;
  border: none;
  outline: none;
  min-width: 140px;
  width: 100%;
  min-height: 28px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.date-picker-input:focus {
  outline: none;
}
.date-picker-input-container-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.date-picker-input-disabled {
  cursor: not-allowed;
}
.date-picker-input-right-icon {
  display: flex;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
